---
# Metadata comes from _data/metadata.js
permalink:  json.njk
---
"items": [
		{%- for post in collections.posts | reverse %}
		{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.url) %}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title }}",
			"content_html": {% if post.templateContent %}{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | dump | safe }}{% else %}""{% endif %},
			"date_published": "{{ post.date | dateToRfc3339 }}"
		}
		{% if not loop.last %},{% endif %}
		{%- endfor %}
	]
}*/
