---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">

	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.
<a href="https://spotify.com/connect" target="_blank">Spotify</a> and <a href="https://www.pandora.com" target="_blank">Pandora</a>
	</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
